@model IEnumerable<Project3.Models.Blog>

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="inner-content">
					<h2>Title</h2>
					@*<span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>*@
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ***** About Area Starts ***** -->

<style>


	.post {
		margin-bottom: 30px;
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
	}

		.post h2 {
			margin-top: 40px;
			margin-bottom: 30px;
			text-align: center;
		}

		.post p {
			margin: 10px 0;
		}

		.post img {
			width: 530px;
			margin: auto;
			height: 600px;
			object-fit: cover;
			display: block;
		}

		.post .read-more {
			color: #333;
			font-weight: bold;
			text-decoration: underline;
		}

			.post .read-more:hover {
				color: #555;
			}
</style>



<div class="container">
	<div class="post">
		@{
			int idblog = 0;
		}
		@foreach (var iteam in Model)
		{
			if (iteam.BlogId != ViewBag.idblog)
			{
				continue;
			}
			idblog = iteam.BlogId;
			<h2>@iteam.Title</h2>
			<img src="~/Thumnails/@iteam.BlogImage" alt="Image 1">
			<p>
				@iteam.Contents
			</p>
			<p class="read-more">Read more...</p>
			break;
		}


	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="men-item-carousel">
				<div class="owl-men-item owl-carousel">

					@foreach (var iteam in Model)
					{
						if (iteam.BlogId == idblog)
						{
							continue;
						}
						<div class="item">
							<a asp-action="Blogs" asp-controller="Home" asp-route-id="@iteam.BlogId">
								<div class="thumb">
									<img src="~/Thumnails/@iteam.BlogImage" alt="">
								</div>
								<div class="down-content">
									<h4>@iteam.Title</h4>
									<span>Free</span>
								</div>
							</a>

						</div>
					}

				</div>
			</div>

		</div>
	</div>
</div>


<!-- ***** About Area Ends ***** -->
